body {
    padding-top: 70px;
}

p {
    font-size: 16px;
}

.navbar-brand {
    color: #fff !important;
    margin-bottom: 0px;
}

.navbar-sky {
    background-color: #025aa5 !important;
    border-color: #025aa5 !important;
    margin-bottom: 0px !important;
}

#results {
    display: none;
}

#results th, #results td {
    text-align: center;
}

#count-text {
    display: none;
}

.select2 {
    width: 100% !important;
}

.btn {
    font-size: 16px;
    width: 200px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-search {
    color: #fff;
    background-color: #5cb85c;
    border-bottom: 2px solid #5cb85c;
}

.btn-search:hover,.btn-search.active:focus, .btn-search:focus, .open > .dropdown-toggle.btn-search {
    color: #fff;
    background-color: #449d44;
    border-bottom: 2px solid #449d44;
    outline: none;
}

.btn-search:active, .btn-search.active {
    color: #fff;
    background-color: #5cb85c;
    border-top: 2px solid #5cb85c;
    outline-offset: none;
}

.btn-stop {
    color: #fff;
    background-color: #c9302c;
    border-bottom: 2px solid #c9302c;
}

.btn-stop:hover,.btn-stop.active:focus, .btn-stop:focus, .open > .dropdown-toggle.btn-stop {
    color: #fff;
    background-color: #d9534f;
    border-bottom: 2px solid #d9534f;
    outline: none;
}

.btn-stop:active, .btn-stop.active {
    color: #fff;
    background-color: #c9302c;
    border-top: 2px solid #c9302c;
    outline-offset: none;
}

#stop-button {
    display: none;
}

.error {
    border: 2px solid red;
}

.searching {
    display: none;
    float: right; 
    color: white;
    margin-top: 10px;
}