<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Amazon Surfer">
    <meta name="author" content="Achillezz">

    <title>Amazon Surfer</title>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/select2.min.css" rel="stylesheet">
    <link href="/assets/css/app.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top navbar-sky" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Amazon Surfer &mdash; Find the perfect products with just a few clicks</a>
            </div>
			<div class="searching"><i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i></div>
			<div class="starting">{{.Relax}}</div>
        </div>
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <form class="form-inline" id="search-form" method="POST" action="search">

					<div class="row">
						<select id="categories" name="categories" multiple="multiple" required="required" />
							{{ range $key, $value := .Categories }}
							<option value="{{ $key }}">{{$value}}</option>
							{{ end }}
						</select>
					</div>

					<br/>

					<div class="row">
						<p>Price ($)</p>
						<div class="input-group">
							<div class="input-group-addon">Min</div>
							<input type="number" name="min-price" id="min-price" class="form-control" placeholder="Enter min price" value="10" required="required" />
						</div>
						<div class="input-group">
							<div class="input-group-addon">Max</div>
							<input type="number" name="max-price" id="max-price" class="form-control" placeholder="Enter max price" value="30" required="required" />
						</div>
					</div>

					<br/>

					<div class="row">
						<p>BSR</p>
						<div class="input-group">
							<div class="input-group-addon">Min</div>
							<input type="number" name="min-bsr" id="min-bsr" class="form-control" placeholder="Enter min BSR" value="501" required="required" />
						</div>
						<div class="input-group">
							<div class="input-group-addon">Max</div>
							<input type="number" name="max-bsr" id="max-bsr" class="form-control" placeholder="Enter max BSR" value="10000" required="required" />
						</div>
					</div>

					<br/>

					<div class="row">
						<p>Reviews</p>
						<div class="input-group">
							<div class="input-group-addon">Min</div>
							<input type="number" name="min-reviews" id="min-reviews" class="form-control" placeholder="Enter min reviews" value="0" required="required" />
						</div>
						<div class="input-group">
							<div class="input-group-addon">Max</div>
							<input type="number" name="max-reviews" id="max-reviews" class="form-control" placeholder="Enter max reviews" value="1000" required="required" />
						</div>
					</div>

					<br/>

					<div class="row">
						<p>Maximum Size (inches)</p>
						<div class="input-group">
							<div class="input-group-addon">Length</div>
							<input type="number" name="max-length" id="max-length" class="form-control" placeholder="Enter max length" value="15" required="required" />
						</div>
						<div class="input-group">
							<div class="input-group-addon">Width</div>
							<input type="number" name="max-width" id="max-width" class="form-control" placeholder="Enter max width" value="12" required="required" />
						</div>
						<div class="input-group">
							<div class="input-group-addon">Height</div>
							<input type="number" name="max-height" id="max-height" class="form-control" placeholder="Enter max height" value="0.75" required="required" />
						</div>
					</div>

					<br/>

					<div class="row">
						<p>Maximum Shipping Weight (ounces)</p>
						<div class="input-group">
							<div class="input-group-addon">Weight</div>
							<input type="number" name="max-weight" id="max-weight" class="form-control" placeholder="Enter max weight" value="12" required="required" />
						</div>
					</div>

					<br/><br/>

					<button type="button" class="btn btn-search btn-lg" id="search-button">
						<i class="fa fa-search" aria-hidden="true"></i> Search Now
					</button>

					<button type="button" class="btn btn-start btn-lg" id="start-button" disabled="disabled">
						<i class="fa fa-cog fa-spin fa-fw"></i> Starting...
					</button>

					<button type="button" class="btn btn-stop btn-lg" id="stop-button">
						<i class="fa fa-ban" aria-hidden="true"></i> Stop
					</button>

                </form>
            </div>
        </div>

		<br/>
		
		<p id="count-text"><strong>Found: <span id=count>0</span></strong></p>

		<table id="results" class="table table-bordered table-hover table-responsive">
			<thead>
				<tr>
					<th>Products</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

    </div>

    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/select2.full.min.js"></script>
    <script src="/assets/js/app.js"></script>

	<script>

	var interval = setInterval(function() {
		var counter = parseInt($('.starting').html());
		if (counter === 0) {
			clearInterval(interval);
			$('.starting').hide();
		} else {
			$('.starting').html(counter - 1);
		}
	}, 1000);

	function relax() {
		$('#search-button').hide();
		$('#start-button').show();		
		setTimeout(function() {
			$('#start-button').hide();	
			$('#search-button').show();
		}, {{.Relax}} * 1000);
	}

	relax()

	var socket = null;

	window.onbeforeunload = function() {
		console.log("Restarting application");
        socket.close();
		// Trigger a click on close button to stop the processing on th server
		// This is crucial
		$('#stop-button').click();
    };

	$("#search-button").click(function() {
		// Reset table layout
		$('#count').html(0)
		$('#results').hide();
		$('#results tbody tr').remove();
		// Validate form input
		var isValid = true;

		if ($('#categories').val().length === 0) {
			isValid = false;
			$('.select2-selection').css('border', '2px solid red');
		} else {
			$('.select2-selection').css('border', '1px solid black');
		}

		if ($('#min-price').val() === '') {
			isValid = false;
			$('#min-price').addClass('error');
		} else {
			$('#min-price').removeClass('error');
		}

		if ($('#max-price').val() === '') {
			isValid = false;
			$('#max-price').addClass('error');
		} else {
			$('#max-price').removeClass('error');
		}

		if ($('#min-bsr').val() === '') {
			isValid = false;
			$('#min-bsr').addClass('error');
		} else {
			$('#min-bsr').removeClass('error');
		}

		if ($('#max-bsr').val() === '') {
			isValid = false;
			$('#max-bsr').addClass('error');
		} else {
			$('#max-bsr').removeClass('error');
		}

		if ($('#min-reviews').val() === '') {
			isValid = false;
			$('#min-reviews').addClass('error');
		} else {
			$('#min-reviews').removeClass('error');
		}

		if ($('#max-reviews').val() === '') {
			isValid = false;
			$('#max-reviews').addClass('error');
		} else {
			$('#max-reviews').removeClass('error');
		}

		if ($('#max-length').val() === '') {
			isValid = false;
			$('#max-length').addClass('error');
		} else {
			$('#max-length').removeClass('error');
		}

		if ($('#max-width').val() === '') {
			isValid = false;
			$('#max-width').addClass('error');
		} else {
			$('#max-width').removeClass('error');
		}

		if ($('#max-height').val() === '') {
			isValid = false;
			$('#max-height').addClass('error');
		} else {
			$('#max-height').removeClass('error');
		}

		if ($('#max-weight').val() === '') {
			isValid = false;
			$('#max-weight').addClass('error');
		} else {
			$('#max-weight').removeClass('error');
		}
		// If the input is valid send the search request
		if (isValid) {
			$('#search-button').hide();
			$('.searching').show();
			$('#stop-button').show();
			
			var form = $("#search-form").serializeArray();

			$.ajax({
				type: "POST",
				url: "search",
				data: form,
				success: function(data) {
					if (data === "ok") {
						console.log("Search started");
						$('#count-text').show();
						socket = new WebSocket("ws://{{.Host}}/start");
						socket.onclose = function() {
							$('.searching').hide();
							$('#stop-button').hide();
							$('#search-button').show();
							alert("Search finished");
						}
						socket.onmessage = function(e) {
							$('#results').show();
							var res = JSON.parse(e.data);
							var row = '<tr><td>' + '<a target="_blank" href="' + res.link +  '">' + res.name + '</a></td></tr>';
							$('#results tbody').append(row);
							var count = parseInt($('#count').html()) + 1;
							$('#count').html(count);
						}
					} else {
						alert(data);
					}
				}
			});
		}
	});

	$('#stop-button').click(function() {
		socket.close();
		$.ajax({
			type: "POST",
			url: "stop",
			success: function() {
				console.log("Connection closed");
				$('.searching').hide();
				$('#stop-button').hide();
				$('#search-button').show();
				relax();
			}
		});
	});
	</script>

</body>

</html>
